<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="icon" href="/img/favicon.png">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/app.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/app.js" defer></script>
</head>

<body>

    <section class="chat">
        <header class="header">
            <p class="user-name"></p>
            <button class="user-name-edit"></button>
        </header>

        <div class="main"></div>

        <footer class="footer">
            <form class="message-form" id="messageForm">
                <input name="message" class="message-input" maxlength="255" placeholder="Write a message..."
                    autocomplete="off" autofocus>
                <button type="submit" class="message-send"></button>
            </form>
        </footer>
    </section>

</body>

</html>